@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');

$body-bg: #ECEFF1;
$icon-color: #0084bf;

body{
    padding: 0px;
    margin: 0px;
    background-color: #efefef !important;
    h1,h2,h3,p{
        font-family: 'Roboto', sans-serif;
    }
}

.btn{
    border-radius: 20px !important;
    min-width: 75px;

    &.btn-primary{
        background-color: $icon-color !important;
    }

    &.btn-rectangle{
        border-radius: 0px !important;
    }
}

textarea{
    &.form-control{
        resize: none;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.125);

        &:focus, &:active{
            border: none;
            border-bottom: 1px solid rgba(0,0,0,0.125);
            box-shadow: none;
        }
    }
}

.icon{
    color: $icon-color !important;
    &.icon-menu{
        min-width: 25px;
        position: relative;
        display: inline-block;
    }
}

.text-small{
    font-size: 14px;
}

.cursor-pointer{
    cursor: pointer;
}

.navbar{
    .search-form{
        padding-top: 3px;
        .input-group-text{
            &.icon{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

    .navbar-menu-group{
        margin-left: auto;
        margin-right: 0;
        
        .navbar-menu{
            line-height: 1.25;
            display: inline-block;

            .navbar-menu-item{
                display: inline-block;
                min-width: 80px;

                @media screen and (max-width: 960px) {
                    margin-top: 10px;
                }
            }

            @media screen and (min-width: 961px) {
                &:first-child{
                    border-right: 1px solid #fff;
                }
            }

            @media screen and (max-width: 959px) {
                &:first-child{
                    border-bottom: 1px solid #fff;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.list-group{
    &#search-box{
        position: absolute;
        width: auto;
        max-height: 80vh;
        min-width: 400px;
        z-index: 99;
    }

    .list-group-item{
        padding: 0px;
    }

    .list-group-item-title{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;

        .row{
            width: 100%;
        }

        a{
            color: #000;
        }
    }

    .menu-link{
        margin: 0px !important;
        cursor: pointer;
        padding-left: 15px;
        padding-bottom: 10px;
        padding-top: 5px;
        &:hover{
            background: #EFEFEF;
        }
    }
}

.card{
    border-radius: 0px !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.125);

    &.card-link{
        box-shadow: none;
    }

    .card-body{
        transition: 0.3s;
    }

    .card-img-top-div{
        &.card-img-top-profile{
            max-height: 200px;
        }
        max-height: 100px;
        overflow: hidden;
        z-index: 0;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.3);
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .card-img-top{
            top: -50px;
            position: relative;
        }
    }

    .card-pic{
        position: relative;
        margin-top: -40px;

        .rounded-circle{
            border: 2px solid #fff;
        }
    }
    
    .card-user-details {
        p {
            line-height: 1;
        }
    }

    .card-link{
        cursor: pointer;
    }
}